table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

th {
    background: #8064A2;
    color: white;
}

h1 {
    text-align: center;
    color: #8064A2;
}